<table class="table">
  <tbody>
    <tr>
      <td>Тип</td>
      <td>{{ product.type }}</td>
    </tr>
      <tr>
      <td>Длина</td>
      <td>{{ product.length }}</td>
    </tr>
      <tr>
      <td>Вес</td>
      <td>{{ product.weight }}</td>
    </tr>
      <tr>
      <td>Транспортировочная длина</td>
      <td>{{ product.transport_length }}</td>
    </tr>
      <tr>
      <td>Количество секций</td>
      <td>{{ product.number_of_sections }}</td>
    </tr>
      <tr>
      <td>Максимальный тест</td>
      <td>{{ product.maximum_test }}</td>
    </tr>
  </tbody>
</table>

